{
  "swagger": "2.0",
  "info": {
    "version": "0.23.0",
    "title": "Bridge Server API"
  },
  "host": "webservices.sagebridge.org",
  "basePath": "/",
  "securityDefinitions": {
    "BridgeSecurity": {
      "type": "apiKey",
      "in": "header",
      "name": "Bridge-Session"
    }
  },
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "parameters": {
    "assessmentId": {
      "name": "assessmentId",
      "description": "The identifier for a stream of assessment revisions",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "cacheKey": {
      "name": "cacheKey",
      "description": "Cache key",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "consents": {
      "name": "consents",
      "description": "Should consent histories be included with this participant record?",
      "required": false,
      "in": "query",
      "type": "boolean"
    },
    "eventId": {
      "name": "eventId",
      "description": "An activity event key",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "externalId": {
      "name": "externalId",
      "description": "User's external ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "fileId": {
      "name": "fileId",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "synapseUserId": {
      "name": "synapseUserId",
      "description": "User's Synapse user ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "moduleId": {
      "name": "moduleId",
      "description": "Unique ID of the module.",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "moduleVersion": {
      "name": "moduleVersion",
      "description": "Module version.",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "orgId": {
      "name": "orgId",
      "description": "Organization ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "reportId": {
      "name": "reportId",
      "description": "Report ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "schemaId": {
      "name": "schemaId",
      "description": "Upload schema ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "taskId": {
      "name": "taskId",
      "description": "Task ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "version": {
      "name": "version",
      "description": "version number",
      "required": true,
      "in": "path",
      "type": "integer"
    },
    "revision": {
      "name": "revision",
      "description": "Revision number",
      "required": true,
      "in": "path",
      "type": "integer",
      "format": "int64"
    },
    "scheduleId": {
      "name": "scheduleId",
      "description": "Scheduler identifier",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "schedulePlanGuid": {
      "name": "schedulePlanGuid",
      "description": "Schedule plan GUID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "subpopulationGuid": {
      "name": "subpopulationGuid",
      "description": "Subpopulation GUID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "appId": {
      "name": "appId",
      "description": "App ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "recordId": {
      "name": "recordId",
      "description": "Health data record ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "studyId": {
      "name": "studyId",
      "description": "Study identifier",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "tag": {
      "name": "tag",
      "required": false,
      "in": "query",
      "type": "array",
      "items": {
        "type": "string"
      },
      "collectionFormat": "multi",
      "description": "One or more tags. Every resource that has at least one of the tags will be returned (resources do not need to match all tags)."
    },
    "uploadId": {
      "name": "uploadId",
      "description": "Upload ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "userId": {
      "name": "userId",
      "description": "User ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "surveyGuid": {
      "name": "surveyGuid",
      "description": "Survey GUID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "createdOn": {
      "name": "createdOn",
      "description": "Created on timestamp (ISO 8601)",
      "required": true,
      "in": "path",
      "type": "string",
      "format": "date-time"
    },
    "createdOnStart": {
      "name": "createdOnStart",
      "description": "Start time (ISO 8601) for a createdOn date-time range",
      "required": false,
      "in": "query",
      "type": "string",
      "format": "date-time"
    },
    "createdOnEnd": {
      "name": "createdOnEnd",
      "description": "End time (ISO 8601) for a createdOn date-time range",
      "required": false,
      "in": "query",
      "type": "string",
      "format": "date-time"
    },
    "newSchemaRev": {
      "name": "newSchemaRev",
      "description": "Should a new schema revision be created?",
      "required": false,
      "in": "query",
      "type": "boolean"
    },
    "identifier": {
      "name": "identifier",
      "description": "identifier",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "enrollmentFilter": {
      "name": "enrollmentFilter",
      "description": "Filter enrollees",
      "required": false,
      "in": "query",
      "type": "string",
      "enum": [
        "enrolled",
        "withdrawn",
        "all"
      ]
    },
    "includeTesters": {
      "name": "includeTesters",
      "description": "Include accounts with 'test_user' data group",
      "required": false,
      "default": false,
      "in": "query",
      "type": "boolean"
    },
    "startDate": {
      "name": "startDate",
      "in": "query",
      "description": "The first day to include in reports that are returned",
      "type": "string",
      "format": "date",
      "required": true
    },
    "endDate": {
      "name": "endDate",
      "in": "query",
      "description": "The last day to include in reports that are returned",
      "type": "string",
      "format": "date",
      "required": true
    },
    "startTime": {
      "name": "startTime",
      "in": "query",
      "type": "string",
      "format": "date-time",
      "required": true
    },
    "endTime": {
      "name": "endTime",
      "in": "query",
      "type": "string",
      "format": "date-time",
      "required": true
    },
    "startTimeOpt": {
      "name": "startTime",
      "in": "query",
      "description": "The first day to include in reports that are returned",
      "type": "string",
      "format": "date-time",
      "required": false
    },
    "endTimeOpt": {
      "name": "endTime",
      "in": "query",
      "description": "The last day to include in reports that are returned",
      "type": "string",
      "format": "date-time",
      "required": false
    },
    "pageSize": {
      "name": "pageSize",
      "description": "maximum number of records in each returned page",
      "in": "query",
      "type": "integer",
      "format": "int32",
      "required": false,
      "default": 50,
      "maximum": 100
    },
    "offsetBy": {
      "name": "offsetBy",
      "description": "next page start offset for pagination",
      "in": "query",
      "type": "integer",
      "format": "int32",
      "default": 0,
      "required": false
    },
    "offsetKey": {
      "name": "offsetKey",
      "description": "next page start key for pagination",
      "in": "query",
      "type": "string",
      "required": false
    },
    "guid": {
      "name": "guid",
      "description": "A guid",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "activityGuid": {
      "name": "activityGuid",
      "description": "Activity GUID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "scheduledOnStart": {
      "name": "scheduledOnStart",
      "in": "query",
      "description": "Activities returned are at or after the timestamp. If scheduledOnStart is \nprovided, scheduledOnEnd must be provided, and vice versa. Default range is \n4 days in the future to 10 days in the past.\n",
      "type": "string",
      "format": "date-time",
      "required": false
    },
    "scheduledOnEnd": {
      "name": "scheduledOnEnd",
      "in": "query",
      "description": "Activities returned are at or before the timestamp. If scheduledOnEnd is \nprovided, scheduledOnStart must be provided, and vice versa. Default range is \n4 days in the future to 10 days in the past.\n",
      "type": "string",
      "format": "date-time",
      "required": false
    },
    "emailFilter": {
      "name": "emailFilter",
      "description": "A string (can be a substring of an email address) to filter returned records against.\n",
      "in": "query",
      "type": "string",
      "required": false
    },
    "phoneFilter": {
      "name": "phoneFilter",
      "description": "A string (can be a substring of a phone number) to filter returned records against.\n",
      "in": "query",
      "type": "string",
      "required": false
    },
    "vendorId": {
      "name": "vendorId",
      "description": "OAuth 2.0 provider ID",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "healthCode": {
      "name": "healthCode",
      "description": "User health code",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "physical": {
      "name": "physical",
      "description": "Physically delete this resource? (administrators only; this is always false for developers)",
      "default": false,
      "required": false,
      "in": "query",
      "type": "boolean"
    },
    "includeDeleted": {
      "name": "includeDeleted",
      "description": "Should deleted items be returned in results?",
      "required": false,
      "in": "query",
      "default": false,
      "type": "boolean"
    },
    "mostrecent": {
      "name": "mostrecent",
      "in": "query",
      "type": "boolean",
      "required": false,
      "default": true,
      "description": "True to get only the most recent versions. If combined with published=true, then this will return the most recent published versions. Cannot be combined with where. Defaults to true.\n"
    },
    "name": {
      "name": "name",
      "in": "query",
      "type": "string",
      "required": false,
      "description": "String to match anywhere in the name field of the shared module record."
    },
    "notes": {
      "name": "notes",
      "in": "query",
      "type": "string",
      "required": false,
      "description": "String to match anywhere in the notes field of the shared module record."
    },
    "published": {
      "name": "published",
      "in": "query",
      "type": "boolean",
      "required": false,
      "default": false,
      "description": "Should the shared module record be published?"
    },
    "id": {
      "name": "id",
      "in": "path",
      "type": "string",
      "required": true,
      "description": "An identifier"
    },
    "tags": {
      "name": "tags",
      "in": "query",
      "type": "string",
      "required": false,
      "description": "Comma-delimited list of tags. If specified, only query results that match one or more tags (not necessarily all tags) are returned. If not specified, returns all query results.\n"
    },
    "tagValue": {
      "name": "tagValue",
      "description": "A tag value",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "templateType": {
      "name": "type",
      "in": "query",
      "type": "string",
      "enum": [
        "email_account_exists",
        "email_app_install_link",
        "email_reset_password",
        "email_sign_in",
        "email_signed_consent",
        "email_verify_email",
        "sms_account_exists",
        "sms_app_install_link",
        "sms_phone_sign_in",
        "sms_reset_password",
        "sms_signed_consent",
        "sms_verify_phone"
      ]
    },
    "category": {
      "name": "category",
      "in": "query",
      "type": "array",
      "items": {
        "type": "string",
        "enum": [
          "customization_options",
          "data_repository",
          "science_documentation",
          "developer_documentation",
          "license",
          "publication",
          "release_note",
          "sample_app",
          "sample_data",
          "screenshot",
          "see_also",
          "used_in_study",
          "website",
          "other"
        ]
      },
      "collectionFormat": "multi",
      "description": "One or more category values. Searches specifying more than one category will return a resource if it matches *any* of the categories given (it does not need to match all of them)."
    },
    "minRevision": {
      "name": "minRevision",
      "in": "query",
      "type": "integer",
      "format": "int32",
      "description": "If this parameter is set, only resoures with a `createdAtRevision` value >= minRevision will be returned from the API (if the parameter is left null, all resources will be considered to match)."
    },
    "maxRevision": {
      "name": "maxRevision",
      "in": "query",
      "type": "integer",
      "format": "int32",
      "description": "If this parameter is set, only resoures with a `createdAtRevision` value <= maxRevision will be returned from the API (if the parameter is left null, all resources will be considered to match)."
    },
    "withdrawalNote": {
      "name": "withdrawalNote",
      "in": "query",
      "type": "string",
      "description": "The reason given for a user’s withdrawal from a study."
    },
    "parentId": {
      "name": "parentId",
      "in": "query",
      "type": "string",
      "description": "The id used in place of appId, and in the future, studyId."
    },
    "instanceGuid": {
      "name": "instanceGuid",
      "description": "Instance GUID of the adherence record",
      "required": true,
      "in": "path",
      "type": "string"
    },
    "eventTimestamp": {
      "name": "eventTimestamp",
      "description": "Event timestamp (ISO 8601) of the adherence record",
      "required": true,
      "in": "path",
      "type": "string",
      "format": "date-time"
    },
    "startedOn": {
      "name": "startedOn",
      "description": "Starting timestamp (ISO 8601) of the adherence record",
      "required": true,
      "in": "path",
      "type": "string",
      "format": "date-time"
    },
    "showError": {
      "name": "showError",
      "description": "Return a 400 status if the submission cannot be persisted",
      "required": false,
      "in": "query",
      "type": "boolean",
      "default": false
    },
    "updateBursts": {
      "name": "updateBursts",
      "description": "If this event is an originating event for a study burst, update the study burst events (while following their update type rules)",
      "required": false,
      "in": "query",
      "type": "boolean",
      "default": true
    }
  },
  "paths": {
    "/v3/auth/signIn": {
      "post": {
        "operationId": "signIn",
        "tags": [
          "Authentication"
        ],
        "description": "Send user credentials to authenticate with the Bridge server. Whether the server returns \n200 (user successfully authenticated) or 412 (user has authenticated but has not yet \nconsented to participate in research), the response will contain a user session. \n\nThe session contains the \"sessionToken\" property with the token that must be used to interact \nwith other endpoints of the service. That value should be sent via the request header \n\"Bridge-Session\" to any endpoint requiring authentication. The Bridge session token is \ncurrently valid for 12 hours. However, your client application should be prepared to \nre-authenticate on any call if it returns 401 (\"Not authenticated\"), as the session may \nexpire before this period for unforeseen reasons, like a server failure.\n\nIf the user has not yet consented, the session also contains detailed information about the \nconsent (or consents) the user must submit a signature for, before they will be allowed to \nmake further calls to Bridge. You can also implement logic to re-consent to updated consents, \nif desired.\n\nNote that a 412 response will not be sent for any account that has an administrative role.\n",
        "parameters": [
          {
            "name": "SignIn",
            "in": "body",
            "description": "Sign in information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignIn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "404": {
            "description": "Study doesn't exist, credentials incorrect, user does not exist, or email/phone have not been verified.",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          },
          "423": {
            "description": "Account has been disabled",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v3/auth/reauth": {
      "post": {
        "operationId": "reauthenticate",
        "tags": [
          "Authentication"
        ],
        "description": "Using the reauthentication token supplied with a new session, request a new session from \nthe server. Updates the session's timeout value, and issues a new reauthentication token. \nReauthentication tokens can only be used one time. \n",
        "parameters": [
          {
            "name": "SignIn",
            "in": "body",
            "description": "Information to authenticate with the server",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignIn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "401": {
            "description": "Authentication has failed",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "404": {
            "description": "Study doesn't exist, credentials incorrect, user does not exist, or email/phone have not been verified.",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          },
          "423": {
            "description": "Account has been disabled",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v3/auth/requestResetPassword": {
      "post": {
        "operationId": "requestResetPassword",
        "tags": [
          "Authentication"
        ],
        "description": "Does not require authentication. Will send an email or SMS message with a confirmation token that can be used by the client to verify the credential. In the case of the email message, and URL is included by default that loads a web page which will complete the confirmation. If the user account does not exist, this method will still return 200 in order to prevent \"account enumeration\" security breaches.\n",
        "parameters": [
          {
            "name": "SignIn",
            "in": "body",
            "description": "Email or phone information information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignIn"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_message"
          }
        }
      }
    },
    "/v3/auth/resetPassword": {
      "post": {
        "operationId": "resetPassword",
        "tags": [
          "Authentication"
        ],
        "description": "This API will not normally be called directly by a client. A user will receive an email triggered by the /requestResetPassword call, with an URL to open up a password reset page on the Bridge server. That page submits the new password along with a one-time session token (\"sptoken\") to this endpoint, in order to change the password. The template for the email that is sent can be configured as part of a Study through the management APIs. If the token is not provided or is expired, this request will fail. If the user account does not exist, this method will still return 200 in order to prevent \"account enumeration\" security breaches.\n",
        "parameters": [
          {
            "name": "PasswordReset",
            "in": "body",
            "description": "Password reset token",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PasswordReset"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "400": {
            "$ref": "#/responses/400"
          }
        }
      }
    },
    "/v3/auth/signUp": {
      "post": {
        "operationId": "signUp",
        "tags": [
          "Authentication"
        ],
        "description": "If an app uses email addresses to identify account holders, the user will normally be sent \nan email with a link to verify his or her email address before the account will be activated. \nIf an account exists with the given email or phone number, this method will still return 201 \nin order to prevent \"account enumeration\" security breaches. When this happens, an \"account \nalready exists\" email will be sent to the account holder, notifying them that another attempt \nwas made to create an account with their email or phone number.\n\nOnly basic credentials are necessary to sign up (email or phone number, and appId), but all the \ninformation that can be provided for a participant's account, can be submitted as part of sign up.\n",
        "parameters": [
          {
            "name": "SignUp",
            "in": "body",
            "description": "Sign up information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignUp"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/201_message"
          }
        }
      }
    },
    "/v3/auth/verifyEmail": {
      "post": {
        "operationId": "verifyEmail",
        "tags": [
          "Authentication"
        ],
        "description": "An email will be sent to the user with a link that when opened, will confirm the validity of \nthis email address. For more control over the experience, the client could intercept this \nlink, extract the sptoken, and complete this verification call itself.\n",
        "parameters": [
          {
            "name": "Verification",
            "in": "body",
            "description": "verification token",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Verification"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          }
        }
      }
    },
    "/v3/auth/verifyPhone": {
      "post": {
        "operationId": "verifyPhone",
        "tags": [
          "Authentication"
        ],
        "description": "Using the sptoken extracted from a link in an SMS message, or entered by the user as seen in \nan SMS message, call this method to confirm the validity of the phone number.\n",
        "parameters": [
          {
            "name": "Verification",
            "in": "body",
            "description": "verification token",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Verification"
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          }
        }
      }
    },
    "/v3/auth/resendEmailVerification": {
      "post": {
        "operationId": "resendEmailVerification",
        "tags": [
          "Authentication"
        ],
        "description": "Resend an email to the provided email address asking the address holder to verify their \naddress. Whether the email address has been registered or not through sign up, this method\nwill return 200 in order to prevent \"account enumeration\" security breaches.\n",
        "parameters": [
          {
            "name": "Identifier",
            "in": "body",
            "description": "Email address of participant (phone number is ignored).",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Identifier"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_message"
          }
        }
      }
    },
    "/v3/auth/resendPhoneVerification": {
      "post": {
        "operationId": "resendPhoneVerification",
        "tags": [
          "Authentication"
        ],
        "description": "Resend an SMS message to the provided phone number asking the recipient to verify their \nphone number. Whether the phone has been registered or not through sign up, this method\nwill return 200 in order to prevent \"account enumeration\" security breaches.\n",
        "parameters": [
          {
            "name": "Identifier",
            "in": "body",
            "description": "Phone number of participant (email address is ignored).",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Identifier"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_message"
          }
        }
      }
    },
    "/v3/auth/email": {
      "post": {
        "operationId": "requestEmailSignIn",
        "tags": [
          "Authentication"
        ],
        "description": "Does not require authentication. Will send an email with a link that can be used to call \nthe server and generate a session. This link is intended to be intercepted by an app on \nthe phone, and redirected to a workflow in the app.\n",
        "parameters": [
          {
            "name": "EmailSignInRequest",
            "in": "body",
            "description": "Information to trigger an email for sign in.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailSignInRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_message"
          },
          "403": {
            "description": "This feature has not been enabled for the app"
          },
          "404": {
            "description": "App not found",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "429": {
            "description": "Rate limit exceeded for requests to receive a sign in email",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v3/auth/email/signIn": {
      "post": {
        "operationId": "signInViaEmail",
        "tags": [
          "Authentication"
        ],
        "description": "Does not require authentication. Using the token supplied via a link in an email, request \na session from the server. Not enabled for all studies.\n",
        "parameters": [
          {
            "name": "EmailSignIn",
            "in": "body",
            "description": "Information to authenticate with the server",
            "required": true,
            "schema": {
              "$ref": "#/definitions/EmailSignIn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "401": {
            "description": "Authentication has failed",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "404": {
            "description": "Study or account does not exist",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          },
          "423": {
            "description": "Account has been disabled",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v3/auth/phone": {
      "post": {
        "operationId": "requestPhoneSignIn",
        "tags": [
          "Authentication"
        ],
        "description": "Does not require authentication. Will send an SMS message with a code that can be used to \ncall the server and generate a session. \n",
        "parameters": [
          {
            "name": "PhoneSignInRequest",
            "in": "body",
            "description": "Information to trigger an SMS message for sign in.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PhoneSignInRequest"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_message"
          },
          "404": {
            "description": "Study not found",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v3/auth/phone/signIn": {
      "post": {
        "operationId": "signInViaPhone",
        "tags": [
          "Authentication"
        ],
        "description": "Does not require authentication. Using the token supplied via an SMS message sent to the user, request a session from the server.\n",
        "parameters": [
          {
            "name": "PhoneSignIn",
            "in": "body",
            "description": "Information to authenticate with the server",
            "required": true,
            "schema": {
              "type": "object",
              "description": "Using a token supplied in an SMS message authenticate with the server. The token remains valid, once sent, for 5 minutes. \n",
              "required": [
                "appId",
                "phone",
                "token"
              ],
              "properties": {
                "appId": {
                  "type": "string",
                  "description": "The identifier of the participant's app."
                },
                "phone": {
                  "$ref": "#/definitions/Phone"
                },
                "token": {
                  "type": "string",
                  "description": "The token that was sent to the user via SMS, that needs to be entered into the application so it can be sent back to authenticate.\n"
                },
                "type": {
                  "type": "string",
                  "readOnly": true,
                  "description": "PhoneSignIn",
                  "x-nullable": false
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "401": {
            "description": "Authentication has failed",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "404": {
            "description": "Study or account does not exist",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          },
          "423": {
            "description": "Account has been disabled",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v3/auth/oauth/signIn": {
      "post": {
        "operationId": "signInWithOauthToken",
        "tags": [
          "Authentication"
        ],
        "description": "Does not require authentication. Using the token returned from a successful authentication via an OAuth server, request a session from the Bridge. The caller will need to have associated an account in the target Bridge app with the account being used to authenticate.\n",
        "parameters": [
          {
            "name": "OAuthAuthorizationToken",
            "in": "body",
            "description": "The authorization token sent from an OAuth server, used to sign in.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OAuthAuthorizationToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "401": {
            "description": "Authentication has failed",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "404": {
            "description": "Study or account does not exist",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          },
          "423": {
            "description": "Account has been disabled",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v3/auth/app": {
      "post": {
        "operationId": "changeApp",
        "tags": [
          "Apps",
          "Authentication"
        ],
        "description": "Change the app currently associate with the signed in caller's session. This app must have a Bridge \naccount with the same Synapse user ID as the caller's current session account. If the caller is a \ncross-app administrator (Sage only), any app can be selected. The only parameter required in the \nsignIn payload is the selected appId.\n",
        "parameters": [
          {
            "name": "SignIn",
            "in": "body",
            "description": "Sign in information (appId only)",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignIn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_researcher_admin"
          }
        }
      }
    },
    "/v3/oauth/{vendorId}": {
      "post": {
        "operationId": "requestOAuthAccessToken",
        "summary": "Request an access token from a given OAuth 2.0 provider.",
        "description": "Request an access token from a given OAuth 2.0 provider. The vendor ID must be defined \nfor the app. The authorization token is optional. If the server can, a request without an \nauthorization token will be refreshed with the provider and the access token will be returned. \nIf a grant has never been given or this request fails to get a valid grant, a 404 will be \nreturned. \n",
        "tags": [
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/vendorId"
          },
          {
            "name": "OAuthAuthorizationToken",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/OAuthAuthorizationToken"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OAuthAccessToken"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          }
        }
      }
    },
    "/v4/auth/signIn": {
      "post": {
        "operationId": "signInV4",
        "tags": [
          "Authentication"
        ],
        "description": "Send user credentials to authenticate with the Bridge server. Whether the server returns \n200 (user successfully authenticated) or 412 (user has authenticated but has not yet \nconsented to participate in research), the response will contain a user session. \n\nThe session contains the \"sessionToken\" property with the token that must be used to interact \nwith other endpoints of the service. That value should be sent via the request header \n\"Bridge-Session\" to any endpoint requiring authentication. The Bridge session token is \ncurrently valid for 12 hours. However, your client application should be prepared to \nre-authenticate on any call if it returns 401 (\"Not authenticated\"), as the session may \nexpire before this period for unforeseen reasons, like a server failure.\n\nIf the user has not yet consented, the session also contains detailed information about the \nconsent (or consents) the user must submit a signature for, before they will be allowed to \nmake further calls to Bridge. You can also implement logic to re-consent to updated consents, \nif desired.\n\nNote that a 412 response will not be sent for any account that has an administrative role.\n",
        "parameters": [
          {
            "name": "SignIn",
            "in": "body",
            "description": "Sign in information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignIn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "403": {
            "description": "Credentials are correct, but user cannot establish a session because they have not verified their email address or phone number.",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "404": {
            "description": "Credentials incorrect or the user does not exist",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "410": {
            "$ref": "#/responses/410"
          },
          "412": {
            "$ref": "#/responses/412"
          },
          "423": {
            "description": "Account has been disabled",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v4/auth/signOut": {
      "post": {
        "operationId": "signOut",
        "tags": [
          "Authentication"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "description": "Delete the user's session on the server. If the client does not provide the \nBridge-Session header, the endpoint returns 400 (Bad Request).\n",
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "400": {
            "$ref": "#/responses/400_message"
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      }
    },
    "/v3/auth/admin/signIn": {
      "post": {
        "operationId": "adminSignIn",
        "tags": [
          "_For Superadmins"
        ],
        "description": "Sign in using an administrative account. Administrative accounts must be created in the \nAPI app; account will be authenticated against this account but will be placed in the \napp that is submitted in the sign in request. Consent is not releent to amin accounts \nand is not checked.\n",
        "parameters": [
          {
            "name": "SignIn",
            "in": "body",
            "description": "Sign in information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignIn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "403": {
            "$ref": "#/responses/403_not_superadmin"
          },
          "404": {
            "description": "Study doesn't exist, credentials incorrect, user does not exist, or email/phone have not been verified.",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "423": {
            "description": "Account has been disabled",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v3/auth/admin/app": {
      "post": {
        "operationId": "adminChangeApp",
        "tags": [
          "_For Superadmins"
        ],
        "description": "Change the app a super administrator is in. The only value that needs to be included in the request is the appId property.\n",
        "parameters": [
          {
            "name": "SignIn",
            "in": "body",
            "description": "Sign in information",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignIn"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UserSessionInfo"
            }
          },
          "403": {
            "$ref": "#/responses/403_not_superadmin"
          },
          "404": {
            "description": "Study doesn't exist, credentials incorrect, user does not exist, or email/phone have not been verified.",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "423": {
            "description": "Account has been disabled",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v1/apps": {
      "get": {
        "operationId": "getApps",
        "summary": "Get all apps The summary must be true if this call is made without authentication.",
        "tags": [
          "Apps",
          "Public",
          "_For Superadmins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "summary",
            "required": false,
            "in": "query",
            "type": "boolean",
            "description": "If true, anyone can call this endpoint and return a list of truncated app objects\n(name and ID only). Otherwise, caller must be an admin.\n"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppList"
            }
          },
          "403": {
            "$ref": "#/responses/403_not_superadmin"
          }
        }
      },
      "post": {
        "operationId": "createApp",
        "summary": "Create a new app",
        "tags": [
          "_For Superadmins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "App",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VersionHolder"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_superadmin"
          }
        }
      }
    },
    "/v1/apps/init": {
      "post": {
        "operationId": "createAppAndUsers",
        "summary": "Create a new app with administrators and users",
        "description": "Create a new app along with the access team and project in Synapse to receive data collected through Bridge. Assigns the Synapse users in the admin ID list to be administrators of the access team and project, and creates the users in the user IDs (users will receive an email confirmation from Synapse to complete account creation).\n",
        "tags": [
          "_For Superadmins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "AppAndUsers",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/AppAndUsers"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created",
            "schema": {
              "$ref": "#/definitions/VersionHolder"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_superadmin"
          }
        }
      }
    },
    "/v1/apps/memberships": {
      "get": {
        "operationId": "getAppMemberships",
        "summary": "Get the list of apps that are accessible to the signed in user via a shared Synapse user ID",
        "description": "Return a summary of all apps that are accessible to the authenticated caller via a shared Synapse \nuser ID. If the caller is a cross-app administrator (Sage only), all apps are returned. These \napp objects contain only the app's name and identifier.\n",
        "tags": [
          "Apps",
          "Authentication"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_researcher_admin"
          }
        }
      }
    },
    "/v1/apps/self": {
      "get": {
        "operationId": "getUsersApp",
        "summary": "Get an app",
        "description": "Get the app of the currently signed in user account.\n",
        "tags": [
          "Apps",
          "_For Developers",
          "_For Researchers",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/App"
            }
          },
          "403": {
            "$ref": "#/responses/403_not_developer_researcher_admin"
          }
        }
      },
      "post": {
        "operationId": "updateUsersApp",
        "summary": "Update an app",
        "description": "Update the app of the currently signed in developer account. This API only works for Developers \n(administrators should use the ForAdminsApi.updateApp() API).\n",
        "tags": [
          "Apps",
          "_For Developers",
          "_For Researchers",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "App",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VersionHolder"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_researcher_admin"
          }
        }
      }
    },
    "/v1/apps/{appId}": {
      "get": {
        "operationId": "getApp",
        "summary": "Get an app",
        "tags": [
          "_For Superadmins",
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/App"
            }
          },
          "403": {
            "$ref": "#/responses/403_not_superadmin_worker"
          }
        }
      },
      "post": {
        "operationId": "updateApp",
        "summary": "Update a app",
        "tags": [
          "_For Superadmins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "name": "App",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/App"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/VersionHolder"
            }
          },
          "403": {
            "$ref": "#/responses/403_not_superadmin"
          }
        }
      },
      "delete": {
        "operationId": "deleteApp",
        "summary": "Delete a app",
        "tags": [
          "_For Superadmins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/physical"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_superadmin"
          }
        }
      }
    },
    "/v1/apps/{appId}/emails/verify": {
      "post": {
        "operationId": "verifyEmailForApp",
        "summary": "Verifies the app's email",
        "description": "Verifies the app's email. Since this comes in from an email with a token, you don't need to be authenticated.\nThe token itself knows what app this is for.\n",
        "tags": [
          "Apps",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "name": "token",
            "description": "Email verification token",
            "required": true,
            "in": "query",
            "type": "string"
          },
          {
            "name": "type",
            "description": "Type of email that should resend email verification.",
            "required": true,
            "in": "query",
            "type": "string",
            "enum": [
              "consent_notification"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v1/apps/{appId}/appconfig": {
      "get": {
        "operationId": "getConfigForApp",
        "summary": "Get the config for the current version of the app making the request. \n",
        "description": "Although this call uses Bridge's common filtering framework (see https://developer.sagebridge.org/articles/study_design.html#filtering), the request does not require authentication, so only User-Agent and Accept-Language filtering criteria are used.\n",
        "tags": [
          "Apps",
          "Public",
          "_For Consented Users"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AppConfig"
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/scheduleplans": {
      "get": {
        "operationId": "getSchedulePlansForApp",
        "summary": "Get schedule plans",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/includeDeleted"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SchedulePlanList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/studies/{studyId}": {
      "get": {
        "operationId": "getStudyInfo",
        "summary": "Get the information on a study that is useful for displaying, selecting, and signing into the study.",
        "tags": [
          "Studies",
          "Public"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/studyId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyInfo"
            }
          },
          "404": {
            "description": "Not Found, if the app ID or study ID is not valid."
          }
        }
      }
    },
    "/v1/apps/self/publicKey": {
      "get": {
        "operationId": "getAppPublicCsmKey",
        "summary": "Get the public key CMS block for this app",
        "tags": [
          "Apps",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/CmsPublicKey"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v1/apps/self/emailStatus": {
      "get": {
        "operationId": "getAppEmailStatus",
        "summary": "SES email verification status",
        "description": "Consents will be emailed from the support email address you provide. Amazon \nSES will ask the holder of that address to confirm this is OK.\n",
        "tags": [
          "Apps",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailVerificationStatus"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer_researcher"
          }
        }
      }
    },
    "/v1/apps/self/emails/resendVerify": {
      "post": {
        "operationId": "resendVerifyEmail",
        "summary": "Resends the verification email for the app's email.",
        "description": "Resends the verification email for the current app's email.\n",
        "tags": [
          "Apps",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "type",
            "description": "Type of email that should resend email verification.",
            "required": true,
            "in": "query",
            "type": "string",
            "enum": [
              "consent_notification"
            ]
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v1/apps/self/exporter3": {
      "post": {
        "operationId": "initExporter3",
        "summary": "Initializes configs and Synapse resources for Exporter 3.0.",
        "tags": [
          "Apps",
          "_For Admins",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Exporter3Configuration"
            }
          },
          "403": {
            "$ref": "#/responses/403_not_admin_developer"
          }
        }
      }
    },
    "/v1/apps/self/verifyEmail": {
      "post": {
        "operationId": "verifySenderEmail",
        "summary": "Trigger SES email verification process",
        "description": "Amazon SES will attempt to verify that it can send email from your support email address. \nIf that fails or expires, this API will trigger another request to verify.\n",
        "tags": [
          "Apps",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/EmailVerificationStatus"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_admin"
          }
        }
      }
    },
    "/v1/apps/self/uploads": {
      "get": {
        "operationId": "getUploads",
        "summary": "Get uploads for the app",
        "tags": [
          "Apps",
          "Uploads",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/startTime"
          },
          {
            "$ref": "#/parameters/endTime"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/offsetKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_admin"
          }
        }
      }
    },
    "/v1/apps/self/synapseProject": {
      "post": {
        "operationId": "createSynapseProjectTeam",
        "summary": "Create new Synapse project and team",
        "description": "Create a new Synapse project and team for the provided Synapse user, and grant permissions to the Bridge exporter to export Bridge data into that app. This call also grants admin  permissions to the specified Synapse user for that project and team. You will need to create a Synapse user first, and provide that user's ID to this endpoint call.\n",
        "tags": [
          "Apps",
          "_For Developers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "name": "String[]",
            "required": true,
            "in": "body",
            "schema": {
              "type": "array",
              "description": "A list of synapse user IDs to add as admins of the created project and access team",
              "items": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/201_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_developer"
          }
        }
      }
    },
    "/v1/apps/{appId}/exporter3/healthdata": {
      "get": {
        "operationId": "getRecordsEx3ForApp",
        "summary": "Retrieves all records from the Exporter 3 implemention in the specified app for the given time range.",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/createdOnStart"
          },
          {
            "$ref": "#/parameters/createdOnEnd"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/offsetKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HealthDataRecordEx3List"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      },
      "post": {
        "operationId": "createOrUpdateRecordEx3",
        "summary": "Create or update health data record using the Exporter 3 implementation. Returns the created or updated record.",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "name": "HealthDataRecordEx3",
            "in": "body",
            "description": "Health data record to be created or updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/HealthDataRecordEx3"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HealthDataRecordEx3"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/exporter3/healthdata/{recordId}": {
      "get": {
        "operationId": "getRecordEx3",
        "summary": "Retrieves the record for the given ID from the Exporter 3 implemention.",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/recordId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HealthDataRecordEx3"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/surveys/published": {
      "get": {
        "operationId": "getAllPublishedSurveys",
        "summary": "Get the published surveys in an app",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/includeDeleted"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/SurveyList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/uploadschemas/{schemaId}/revisions/{revision}": {
      "get": {
        "operationId": "getSchemaRevision",
        "summary": "Get a schema revision from an app",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/schemaId"
          },
          {
            "$ref": "#/parameters/revision"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadSchema"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/reports/{identifier}": {
      "get": {
        "operationId": "getPublicStudyReportRecords",
        "summary": "Get public study report records",
        "description": "Get public study report records (no authentication is needed, but index for the report must be marked as \npublic or the server will return 404 for the report). Only study reports may be made public.\n",
        "tags": [
          "Study Reports",
          "Public"
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "$ref": "#/parameters/startDate"
          },
          {
            "$ref": "#/parameters/endDate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReportDataList"
            }
          }
        }
      },
      "post": {
        "operationId": "saveReport",
        "summary": "save report for a study",
        "description": "Save a report for a specified study with arbitrary report id given by wokers into bridgePF.\n",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "name": "ReportData",
            "description": "Report data",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ReportData"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/201_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/uploads": {
      "get": {
        "operationId": "getUploadsForApp",
        "summary": "Get uploads for a specified app",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/startTime"
          },
          {
            "$ref": "#/parameters/endTime"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/offsetKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/UploadList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_admin"
          }
        }
      }
    },
    "/v1/apps/{appId}/users": {
      "post": {
        "operationId": "createUserInApp",
        "summary": "Create a new user in a given app",
        "tags": [
          "_For Superadmins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "name": "SignUp",
            "in": "body",
            "description": "New user",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SignUp"
            }
          }
        ],
        "responses": {
          "201": {
            "$ref": "#/responses/201_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_superadmin"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants": {
      "get": {
        "operationId": "getParticipantsForApp",
        "summary": "Get a paged list of study participants for an app",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/offsetBy"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/emailFilter"
          },
          {
            "$ref": "#/parameters/phoneFilter"
          },
          {
            "$ref": "#/parameters/startTimeOpt"
          },
          {
            "$ref": "#/parameters/endTimeOpt"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountSummaryList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/search": {
      "post": {
        "operationId": "searchAccountSummariesForApp",
        "summary": "Search for account summaries (participants)",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "name": "AccountSummarySearch",
            "in": "body",
            "description": "Account summary search parameters",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AccountSummarySearch"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AccountSummaryList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}": {
      "get": {
        "operationId": "getParticipantByIdForApp",
        "summary": "Get a study participant (user) record in an app",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/consents"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyParticipant"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/healthCode:{healthCode}": {
      "get": {
        "operationId": "getParticipantByHealthCodeForApp",
        "summary": "Get a study participant (user) record in an app using the account's health code.",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/healthCode"
          },
          {
            "$ref": "#/parameters/consents"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyParticipant"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/externalId:{externalId}": {
      "get": {
        "operationId": "getParticipantByExternalIdForApp",
        "summary": "Get a study participant (user) record in an app using the account's external ID.",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/externalId"
          },
          {
            "$ref": "#/parameters/consents"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyParticipant"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/syn:{synapseUserId}": {
      "get": {
        "operationId": "getParticipantBySynapseUserIdForApp",
        "summary": "Get a study participant (user) record in an app using the account's Synapse user ID.",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/synapseUserId"
          },
          {
            "$ref": "#/parameters/consents"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyParticipant"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/exporter3/healthdata": {
      "get": {
        "operationId": "getRecordsEx3ForUser",
        "summary": "Retrieves all records from the Exporter 3 implementation for the given user and time range.",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/createdOnStart"
          },
          {
            "$ref": "#/parameters/createdOnEnd"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/offsetKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/HealthDataRecordEx3List"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      },
      "delete": {
        "operationId": "deleteRecordsEx3ForUser",
        "summary": "Deletes all health data records from the Exporter 3 implementation for the given user.",
        "tags": [
          "_Internal",
          "_For Superadmins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/200_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_superadmin"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/reports/{reportId}": {
      "get": {
        "operationId": "getParticipantReportsForParticipant",
        "summary": "Get participant report records by date.",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/reportId"
          },
          {
            "$ref": "#/parameters/startDate"
          },
          {
            "$ref": "#/parameters/endDate"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ReportDataList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/sendSmsMessage": {
      "post": {
        "operationId": "sendSmsMessageToParticipantForApp",
        "summary": "Send an SMS message to a single participant",
        "description": "Send an SMS message to an individual participant (assuming they have a verified phone number). Do not use this method to notify a group of participants; create a topic, ask your users to subscribe to that topic, and send a message via that topic instead.\n",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "name": "SmsTemplate",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/SmsTemplate"
            }
          }
        ],
        "responses": {
          "202": {
            "$ref": "#/responses/202_message"
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/activityevents": {
      "get": {
        "operationId": "getActivityEventsForParticipantAndApp",
        "summary": "Get activity event records for participant",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ActivityEventList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/activities/{activityGuid}": {
      "get": {
        "operationId": "getParticipantActivityHistoryForApp",
        "summary": "Get a study participant's history of activities",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/activityGuid"
          },
          {
            "$ref": "#/parameters/scheduledOnStart"
          },
          {
            "$ref": "#/parameters/scheduledOnEnd"
          },
          {
            "$ref": "#/parameters/offsetKey"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ForwardCursorScheduledActivityList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/activities/tasks/{taskId}": {
      "get": {
        "operationId": "getParticipantTaskHistoryForApp",
        "summary": "Get a study participant's history of a task",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/taskId"
          },
          {
            "$ref": "#/parameters/scheduledOnStart"
          },
          {
            "$ref": "#/parameters/scheduledOnEnd"
          },
          {
            "$ref": "#/parameters/offsetKey"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ForwardCursorScheduledActivityList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/activities/surveys/{surveyGuid}": {
      "get": {
        "operationId": "getParticipantSurveyHistoryForApp",
        "summary": "Get a study participant's history of a survey",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/surveyGuid"
          },
          {
            "$ref": "#/parameters/scheduledOnStart"
          },
          {
            "$ref": "#/parameters/scheduledOnEnd"
          },
          {
            "$ref": "#/parameters/offsetKey"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ForwardCursorScheduledActivityList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/activities/compoundactivities/{taskId}": {
      "get": {
        "operationId": "getParticipantCompoundActivityHistoryForApp",
        "summary": "Get a study participant's history of a compound activity",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/taskId"
          },
          {
            "$ref": "#/parameters/scheduledOnStart"
          },
          {
            "$ref": "#/parameters/scheduledOnEnd"
          },
          {
            "$ref": "#/parameters/offsetKey"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ForwardCursorScheduledActivityList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/requestInfo": {
      "get": {
        "operationId": "getRequestInfoForWorker",
        "summary": "Get information about the last request made by this participant",
        "description": "Retrieves information about the user agent headers and participant settings that were in effect the last time this participant contacted the Bridge server. Also provides the last time activities were retrieved and uploads were sent back to the server.\n",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/RequestInfo"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v2/apps/{appId}/participants/{userId}/reports/{reportId}": {
      "get": {
        "operationId": "getParticipantReportsForParticipantV2",
        "summary": "Get participant report records by date-time",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/reportId"
          },
          {
            "$ref": "#/parameters/startTime"
          },
          {
            "$ref": "#/parameters/endTime"
          },
          {
            "$ref": "#/parameters/offsetKey"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ForwardCursorReportDataList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/versions": {
      "get": {
        "operationId": "getAllParticipantVersionsForUser",
        "summary": "Get all participant versions for health code.",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ParticipantVersionList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/versions/{version}": {
      "get": {
        "operationId": "getParticipantVersion",
        "summary": "Get all participant versions for health code.",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/version"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ParticipantVersion"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/oauth/{vendorId}": {
      "get": {
        "operationId": "getHealthCodesGrantingOAuthAccess",
        "summary": "Get the health codes of the accounts that have granted OAuth access through \na particular vendor.\n",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/vendorId"
          },
          {
            "$ref": "#/parameters/pageSize"
          },
          {
            "$ref": "#/parameters/offsetKey"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ForwardCursorStringList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/oauth/{vendorId}/{healthCode}": {
      "get": {
        "operationId": "getOAuthAccessToken",
        "summary": "Get the access grant for a given account as specified by a health code. If \nthere is no grant, a 404 will be returned.\n",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/vendorId"
          },
          {
            "$ref": "#/parameters/healthCode"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OAuthAccessToken"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/data": {
      "get": {
        "operationId": "getAllDataForAdminWorker",
        "summary": "Get list of identifiers for participant data",
        "description": "Endpoint for worker or admin to get a list of participant data identifiers.",
        "tags": [
          "Participant Data",
          "_For Workers",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/offsetKey"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ForwardCursorStringList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "404": {
            "description": "Account does not exist or app does not exist",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteAllParticipantDataForAdmin",
        "summary": "Delete all participant data",
        "description": "Endpoint for admin to delete all participant data for the given participant.",
        "tags": [
          "Participant Data",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "404": {
            "description": "Account does not exist or app does not exist",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/participants/{userId}/data/{identifier}": {
      "get": {
        "operationId": "getDataByIdentifierForAdminWorker",
        "summary": "Get participant data by identifier",
        "description": "Endpoint for worker or admin to get a participant data.",
        "tags": [
          "Participant Data",
          "_For Workers",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ParticipantData"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          }
        }
      },
      "post": {
        "operationId": "saveDataForAdminWorker",
        "summary": "Save a participant data",
        "description": "Endpoint for worker or admin to save a participant data.",
        "tags": [
          "Participant Data",
          "_For Workers",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/identifier"
          },
          {
            "name": "ParticipantData",
            "required": true,
            "in": "body",
            "schema": {
              "$ref": "#/definitions/ParticipantData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "404": {
            "description": "Account does not exist or app does not exist",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteDataForAdmin",
        "summary": "Delete a participant data",
        "description": "Endpoint for admin to delete a participnt data.",
        "tags": [
          "Participant Data",
          "_For Admins"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/userId"
          },
          {
            "$ref": "#/parameters/identifier"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "404": {
            "description": "Account does not exist or app does not exist",
            "schema": {
              "$ref": "#/definitions/Message"
            }
          }
        }
      }
    },
    "/v1/apps/{appId}/organizations/{orgId}/studies": {
      "get": {
        "operationId": "getSponsoredStudiesForApp",
        "summary": "Get the studies that are sponsored by the organization",
        "tags": [
          "_For Workers"
        ],
        "security": [
          {
            "BridgeSecurity": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/parameters/appId"
          },
          {
            "$ref": "#/parameters/orgId"
          },
          {
            "$ref": "#/parameters/offsetBy"
          },
          {
            "$ref": "#/parameters/pageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/StudyList"
            }
          },
          "401": {
            "$ref": "#/responses/401"
          },
          "403": {
            "$ref": "#/responses/403_not_worker"
          }
        }
      }
    },
    "/v1/apps/{appId}/studies/{studyId}/exporter3/healthdata": {
      "get": {
        "operationId": "getRecordsEx3ForStudy",
[...]
